* { box-sizing: border-box; }
.clearfix::after {
    clear: both;
}
/* variables */
    :root {
        --white-color: #FFFFFF;
        --black-color: #000000;
        --yellow-color: #F9C06A;
        --coffee-color: #603809;
        --cards-color: #FFF9F1;
        --cta-color: #1E1E1E;
        --cards-bg-color:#FFEED8;
        --cards-stroke-color: #707070;
        --cards-stroke-border-color: #F9C06A6B;
        --text-color: #707070;
        --background-color: #FFFEFC;
        --primary-font: "Playfair Display";
        --secondary-font: "Clicker Script";
    }
/* e: variables */

    body { font-family: var(--primary-font), serif; font-size: 16px;}

/* container */

    .container {
        width: 1200px;
        margin: 0 auto;
    }

/* e: container */

/* top-section */

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 88px;
    position: absolute;
    top: 0;
    width: 100%;
}
.top-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-section__logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--white-color);
    font-size: 2.1875em;
    font-family: var(--secondary-font), serif;
}

.top-section__nav-list {
    display: flex;
}
.top-section__nav-item, .top-section__nav-item a {
    height: 86px;
    width: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-section__nav-item:hover {

}
.top-section__nav-item a, .footer-section__nav-item a {
    color: var(--white-color);
    font-weight: 500;
    font-size: 0.875em;
    text-decoration: none;
}

/* e: top-section */

/* header */

.header {
    background: url(../images/coffee_image.jpg);
    background-size: cover;
    min-height: 100vh; /* TODO */
    margin-top: -110px;
    padding-top: 250px;
    display: flex;
    align-items: center;
}
.header__title {
    color: var(--white-color);
    font: normal normal 900 13.75em var(--secondary-font);
    font-weight: 400;
    letter-spacing: 0;
    margin:0;
}
.header__subtitle {
    color: var(--white-color);
    font: normal normal medium 1.25em var(--primary-font);
    line-height: 2.125em;
    max-width: 550px;
    font-size: 1.25em;
}

.btn-container { margin-top: 1.375em; }

/* e: header */

/* buttons */

.btn {
    border-radius: 30px;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    margin-right: 1.5625em;
    width: fit-content;
}
.btn-primary {
    background-color: var(--yellow-color);
    color: var(--coffee-color);
}

.btn-secondary {
    color: var(--white-color);
}

.btn-large { padding: 1.375em 3.4375em; }
.btn-small { padding: 0.6875em 1.875em; }

/* e: buttons */

/* blog */

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 100px;
}
.section__columns {
    display: flex;
    gap: 16px;
    margin-bottom: 20px;
}
.section__column {
    text-align: center;
    width: 25%;
}
.section__title {
    font: normal normal bold 3.375em var(--primary-font);
    letter-spacing: 0;
    color: var(--coffee-color);
    margin-bottom: 1.1875rem;
    text-align: center;
}

.section__subtitle
{
    font-size: 1.25em;
    color: var(--cards-stroke-color);
    margin-bottom: 2.1875rem;
    text-align: center;

}

.section__column--title {
    font: normal normal normal 1.1875em var(--primary-font);
    letter-spacing: 0;
    color: var(--coffee-color);
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 15px;

}
.section__column--subtitle {
    font: normal normal 300 0.875em var(--secondary-font);
    letter-spacing: 0;
    margin-bottom: 15px;
}
/* e: blog */

/* discover */

.discover .section__columns {
    align-items: center;
}
.discover .section__column {
    width: 50%;
    text-align: left;
}
.discover .section__column--title {
    font-size: 3.375em;
}
.discover .section__column--subtitle {
    font-size: 1.25em;
    font-family: var(--primary-font), serif;
}
.discover img {float: right;}

/* e: discover */

/* usp */
#usp .section__column {
    border: 1px solid var(--cards-stroke-border-color);
    padding: 40px;
}

#service .section__column--subtitle,
#usp .section__column--subtitle{ font-family: var(--primary-font), serif; }

#usp .section__column--title { font-size: 1.75em; margin-bottom: 20px; }
#usp .section__column--subtitle { font-size: 1.25em; margin-bottom: 10px;}
#usp .section__column:hover { background-color: var(--cards-bg-color); }
#usp .section__columns--cta { text-align: center; }

/* e: usp */

/* banner */
#banner {
    background-image: url(../images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 570px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner .section__column--title,
#banner .section__column--subtitle {
    color: var(--white-color);
}
#banner .section__column
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#banner img { align-self: flex-end; }

/* e: banner */

/* feedback */
.feedback {
    display: flex;
    align-items: center;
}
.section__feedback {
    border: 1px solid var(--cards-stroke-border-color);
    padding: 55px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.feedback-icon-left {
    min-width: 82px;
    height: 82px;
    border-radius: 15px;
    margin-left: -45px;
    position: absolute;
    background: var(--yellow-color) url(../images/icon-left.svg) no-repeat center;
}
.feedback-icon-right{
    min-width: 82px;
    height: 82px;
    border-radius: 15px;
    margin-left: -45px;
    background: var(--yellow-color) url(../images/icon-right.svg) no-repeat center;

}
.feedback--quote {
    width: 100px;
}
.feedback--title {
    font-size: 1.125em;
    line-height: 2.25em;
}
.feedback--author {
    font-size: 2em;
    color: var(--coffee-color);
    font-weight: bold;
}
.feedback--author-title {
    font-size: 1.25em;
}
.feedback--author-image {
    width: fit-content;
    align-self: center;
    margin-bottom: -128px;
}
/* e: feedback */

#newsletter {
    background-image: url(../images/subscribe-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 570px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section__newsletter {
    color: var(--white-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.section__newsletter--title {
    font-size: 3.375em;
    font-weight: bold;
}
.section__newsletter--subtitle {
    font-size: 1.25em;
}

form.section__newsletter--form {
    display: flex;
    justify-content: center;
}

.section__newsletter--form input[type="email"] {
    background-color: var(--white-color);
    padding: 20px;
    min-width: 300px;
    border:0;
}
.section__newsletter--form input[type="submit"] {
    background-color: var(--yellow-color);
    padding: 20px;
    min-width: 100px;
    border:0
}
.newsletter__coffee-left {
    background-image: url(../images/coffee-footer.png);
    background-repeat: no-repeat;
    height: 350px;
    width: 440px;
    position: absolute;
    left: 0;
    margin-top: 550px;
}

.newsletter__coffee-right {
    background-image: url(../images/coffee-footer.png);
    background-repeat: no-repeat;
    height: 350px;
    width: 440px;
    position: absolute;
    right: 0;
    transform: scaleX(-1);
    margin-top: 550px;

}